<form [formGroup]="form" (ngSubmit)="save()" class="container-fluid">
  <div class="row justify-content-center text-center mt-5">
    <h1>Formularios Reactivos</h1>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
        <form-validator [control]="form.controls['nombre']" name="Nombre"></form-validator>
      </div>

    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleFormControlInput2">Apellido</label>
        <input formControlName="apellido" type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
        <form-validator [control]="form.controls['apellido']" name="Apellido"></form-validator>
      </div>

    </div>

  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="form-group">
        <label for="exampleFormControlInput3">Email</label>
        <input formControlName="email" type="text" class="form-control" name="email" id="email" placeholder="example@example.com">
        <form-validator [control]="form.controls['email']" name="Email"></form-validator>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label for="exampleFormControlInput4">Edad</label>
        <input min="0" max="99" formControlName="edad" type="number" class="form-control" name="edad" id="edad" placeholder="Edad">
        <form-validator [control]="form.controls['edad']" name="Edad"></form-validator>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
  <div class="col-3">
    <div class="form-group">
      <label for="exampleFormControlInput4">Bebida</label>
      <input  formControlName="drink" type="text" class="form-control" name="Bebida" id="edad" placeholder="Cuba Libra">
      <form-validator [control]="form.controls['drink']" name="Bebida"></form-validator>
    </div>
  </div>
</div>


  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success">Enviar</button>
    </div>
  </div>
</form>
